
.env

quack_cluster/merge.py
quack_cluster/quack_core.txt
minikube
quack_cluster/coordinator_backup.txt
__pycache__/
*.py[cod]
*$py.class


build/
dist/
*.egg-info/
.pdm-build/


.venv/
venv/
env/


.vscode/
.idea/

*.log

.pytest_cache/
.coverage
htmlcov/